In [1]:
import warnings

# if numpy is not installed already : pip3 install numpy
import numpy as np  # Do aritmetic operations on arrays
import pandas as pd  # pandas to create small dataframes


warnings.filterwarnings("ignore")

In [6]:
df = pd.read_parquet('preprocessing_yellow_tripdata_2020_1.parquet', engine='pyarrow')

In [7]:
df

,passenger_count,trip_distance,PULocationID,DOLocationID,total_amount,trip_times,pickup_times,Speed,pickup_bins
0,2.0,1.63,4,137,15.36,11.833333,1.577808e+09,8.264789,38
1,2.0,1.78,4,170,15.36,11.916667,1.577806e+09,8.962238,35
2,2.0,0.80,4,79,10.30,7.416667,1.577806e+09,6.471910,35
3,1.0,3.27,4,246,21.80,24.166667,1.577808e+09,8.118621,38
4,4.0,0.80,4,148,11.75,6.966667,1.577805e+09,6.889952,34
...,...,...,...,...,...,...,...,...,...
5846100,NaN,20.67,263,203,57.67,36.933333,1.580472e+09,33.579422,4478
5846101,NaN,2.64,263,41,23.70,17.300000,1.580476e+09,9.156069,4484
5846102,NaN,10.75,263,61,39.76,71.000000,1.580475e+09,9.084507,4484
5846103,NaN,0.76,263,263,19.63,4.000000,1.580473e+09,11.400000,4481
5846104,NaN,0.79,263,263,29.63,7.000000,1.580475e+09,6.771429,4483